<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/styles/dashboard-style.css"> 
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get the delete account button element
            const deleteAccountButton = document.getElementById('deleteAccountButton');
    
            // Add a click event listener to the button
            deleteAccountButton.addEventListener('click', async () => {
                // Prompt the user for confirmation
                const confirmed = confirm('Are you sure you want to delete your account?');
                if (!confirmed) {
                    return; // Exit if the user cancels the confirmation
                }
    
                try {
                    const response = await fetch('/api/delete-account', {
                        method: 'DELETE'
                    });
    
                    const data = await response.json();
                    console.log(data);
    
                    
                    window.location.href = '/login-page.html';
                } catch (error) {
                    console.error('Error deleting account:', error);
                   
                }
            });
        });
    </script>
    
    
</head>
<body>
    <!-- Main content of the page -->
    <div class="container">
        <h2>Welcome to your <%= user.role %> Dashboard</h2>
        <div class="welcome-message">
            <!-- Placeholder for welcome message -->
        </div>

        <% if (user.role === 'user') { %>
            <!-- Display user-specific links -->
            <div class="userIntro">
                Please make a selection below to make a new reservation, view your pending reservations, or view your history.
            </div>
            <div class="links-container">
                <!-- Links for user-specific actions -->
                <div class="circle-container">
                    <a href="#" onclick="redirectToScheduleReservationPage()">Schedule Reservation</a> 
                </div>
                <div class="circle-container">
                    <a href="#" onclick="redirectToUserPendingReservations()">View Pending Reservation</a>
                </div>
                <div class="circle-container">
                    <a href="#" onclick="redirectToViewHistoryPage()">View History</a>
                </div>
            </div>
        <% } else if (user.role === 'employee') { %>
            <!-- Display employee-specific links -->
            <div class="employeeIntro">
                Please make a selection below to view all available reservations, view the reservations assigned to you, or view your history.
            </div>
            <div class="links-container">
                <!-- Links for employee-specific actions -->
                <div class="circle-container">
                    <a href="#" onclick="redirectToAvailableReservations()">View Available Reservations</a>
                </div>
                <div class="circle-container">
                    <a href="#" onclick="redirectToAssignedJobs()">Assigned Jobs</a>
                </div>
                <div class="circle-container">
                    <a href="#" onclick="redirectToEmployeeHistory()">View History</a>
                </div>
            </div>
        <% } %>

        <!-- Logout form -->
        <form action="/logout" method="POST"> 
            <button type="submit" class="admin-logout-btn">Logout</button>
        </form>

        
        
    </div>
    
    <script src="/scripts/dashboard.js"></script>

<footer><button id="deleteAccountButton">Delete My Account</button></footer>
</body>
</html>
