<!DOCTYPE html>
<html>
<head>
    <title>E-Z Beach</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/pending-reservation-style.css"> 
</head>
<body>
    <div class="container">
        <h2>User Pending Reservations<div class="buttons">
            <button id="homeButton">Home</button>
            <button id="logoutButton">Logout</button>
        </div></h2>
        <div id="reservationDetails">
            <!-- This container will be populated with reservation details -->
            </div>
        </div>
    </div>

    <script src="/scripts/frontend.js"></script>
</body>
</html>


