<!DOCTYPE html>
<html>
<head>
    <title>E-Z Beach</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/pending-reservation-style.css"> 
</head>
<body>
    <div class="container">
        <h2>Pending Reservations<div class="buttons">
            <button id="homeButton">Home</button>
            <button id="logoutButton">Logout</button>
        </div></h2>
        <div class="pendingInfo">
        <p>
        Here you will find all of your currently pending reservations that are waiting to be accepted and assigned.  Once your reservation has been accepted and assigned to one of our dedicated workers, you will received a text notification to the phone number that your reservation was made under. This notification will 
        include the name of the person picking up/setting up or taking down/dropping off your beach items.  Once your reservation is assigned, it will not be visable on this page, and will not show up in your history until completed.  If for some reason our workers are not able to complete your reservation after it has 
        assigned to them, you will receive notification that it has been rejected and it will then again be visable on your pending reservations page here until it can be accepted and reassigned to another worker.
        </p>
        </div>
        <div id="reservationDetails">
            <!-- This container will be populated with reservation details -->
            </div>
        </div>
    </div>

    <script src="/scripts/frontend.js"></script>
</body>
</html>


