/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #014a98;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Apply linear gradient background to h2 */
.container h2 {
    background: linear-gradient(to right, #007bff, #ffa500, #800080);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
    margin-bottom: 20px;
    height: 200px;
    padding-top: 80px;
}

/* Style for each reservation container */
.reservation-container {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*  white box styling to reservation containers */
.reservation {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}






