<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/styles/style.css"> 
</head>
<body>
    <div class="container">
        <h2>Admin Dashboard</h2>
        <div class="users-employees">
            <h3>Users and Employees</h3>
            <ul>
                <% usersAndEmployees.forEach(function(user) { %>
                    <li><%= user.firstName %> - <%= user.role %></li>
                <% }) %>
            </ul>
        </div>
    </div>

    <div class="footer">
        <!-- Admin Logout button -->
        <form action="/logout" method="POST"> <!-- Add a form to handle the logout POST request -->
            <button type="submit" class="admin-logout-btn">Logout</button>
        </form>
    </div>

    <!-- Import the logout script -->
    <script src="\app.js"></script>
    <script src="\scripts\dashboard.js"></script>
    
</body>
</html>

